/* Reset */
* {
  margin: 0;
  padding: 0;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
  --color-main: #6327fe;
  --color-bg: #eae8fe;

  --font-size-cola: 9px;
  --font-size-price: 12px;
  --font-size-button: 13px;
  --font-size-change: 14px;
}

h1,
h2 {
}

img {
  vertical-align: top;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background: var(--color-bg);
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
